
<div class="sw-character-sort">
    <div class="search-box-block">
        <sw-input></sw-input>
        <sw-button [buttonLabel]="'Search Character'"></sw-button>
    
    <div class="sw-sort-container">
        <p>Showing 4 results out of {{'11'}}</p>
        <sw-select></sw-select>
    </div>
</div>


<div class="sw-character-container">
    <sw-character-list></sw-character-list>
</div>

<div class="load-more-items">
    <sw-button [buttonLabel]="'Load More'" [loadMore]="true"></sw-button>
</div>


    
    
</div>