:host {
  .spinner-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    &.listingIsEmpty {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .pagination-btn {
    margin-top: 20px;
    width: 100%;
    height: 45px;
  }
  .listing {
    max-width: 1310px;
    padding-bottom: 200px;
    margin: auto;
    @media (max-width: 1200px) {
      max-width: 976px;
    }
    @media (max-width: 992px) {
      max-width: 768px
    }
    @media (max-width: 576px) {
      max-width: 95%;
    }
  }
}
