<mat-toolbar>Star Wars Character Search</mat-toolbar>
<div class="listing">
  <sw-characters-search
    [searchTerm]="searchTerm$ | async"
    (search)="onSearch($event)"
  ></sw-characters-search>

  <div *ngIf="characterListIsLoaded$ | async" class="total-count">
    Showing {{ (characters$ | async)?.length }} results from
    {{ totalCount$ | async }}
  </div>

  <sw-characters-sort (changeSort)="onSort($event)"></sw-characters-sort>

  <sw-characters-list [characters]="characters$ | async"></sw-characters-list>

  <button
    *ngIf="(characterListIsLoaded$ | async) && (nextPage$ | async)"
    class="pagination-btn"
    mat-raised-button
    color="primary"
    type="button"
    (click)="onLoadMore()"
  >
    Load more
  </button>

  <ng-container *ngIf="!(characterListIsLoaded$ | async)">
    <div
      [class.listingIsEmpty]="(characters$ | async)?.length === 0"
      class="spinner-container"
    >
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
</div>
