<div *ngIf="resultsList | async as people; else noResults">
    <mat-form-field>
        <mat-label>Search options</mat-label>
        <mat-select (selectionChange)="sort($event.value)">
            <mat-option *ngFor="let option of sortOptions" [value]="option">
                {{ option }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <p class="resultscount">Showing {{ people.length }} results of {{ starWars.totalCharacters}}</p>
    <mat-card *ngFor="let card of people">
        <mat-card-content>{{ card.name }}</mat-card-content>
    </mat-card>
    <button mat-button *ngIf="starWars.nextUrl" (click)="starWars.next()">Load More</button>
</div>
<ng-template #noResults>
    No results yet!
</ng-template>