<div class="search-field-wrapper">
    <mat-form-field>
        <input type="text" matInput placeholder="Search Character" aria-label="Search Character Input" [(ngModel)]="characterSearchTerm" (keyup.enter)="search()">
        <button matSuffix mat-icon-button aria-label="Clear search field" *ngIf="characterSearchTerm" (click)="clearSearch()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="search()">Search Character</button>
</div>
