main {
    padding: 10px;
}

.result-info {
    margin-bottom: 10px;
}

.cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

mat-card {
    background: lightgray;
}

mat-card-title {
    text-align: center;
}