<div class="sw-character-row">
    <div class="character">
        <img src="../../assets/mock-image-1.png" alt="">
        <span>Luke Skywalker</span>
    </div>
    <div class="character">
        <img src="../../assets/mock-image.png" alt="">
        <span>Luke Skywalker</span>
    </div>
    <div class="character">
        <img src="../../assets/mock-image-1.png" alt="">
        <span>Luke Skywalker</span>
    </div>
    <div class="character">
        <img src="../../assets/mock-image.png" alt="">
        <span>Luke Skywalker</span>
    </div>
    
</div>