<mat-card class="card__container">
  <ng-container *ngIf="!(isLoading$ | async); else loadingImg">
    <img class="card__image" [src]="getDefaultImage()" alt="image">
  </ng-container>
  <ng-container *ngIf="!(isLoading$ | async); else loadingName">
    <mat-card-header [textContent]="name"></mat-card-header>
  </ng-container>
</mat-card>

<ng-template #loadingImg>
  <mat-spinner></mat-spinner>
</ng-template>
<ng-template #loadingName>
  <mat-progress-bar mode="query"></mat-progress-bar>
</ng-template>
