<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
  <div>
    <app-character-search></app-character-search>
  </div>

  <div fxFlexAlign="start">
    Showing {{visibleCount$ | async}} results of {{count$ | async}}
  </div>

  <div fxFlexAlign="start">
    <app-character-sort></app-character-sort>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="20px grid" fxLayoutAlign="center">
    <app-character-card *ngFor="let character of characters$ | async; let odd = odd"
                        [character]="character"
                        [isOdd]="odd"></app-character-card>
  </div>

  <div *ngIf="hasMoreItems$ | async" fxLayout="row">
    <button mat-raised-button (click)="loadMore()">Load More</button>
  </div>
</section>
