<div class="character-search-wrapper">
    <section class="search-section">
        <app-search-field></app-search-field>
    </section>
    <section class="cards-section">
        <div class="character-cards-wrapper">
            <app-character-card @fadeIn *ngFor="let character of characters$ | async; trackBy: 'url' | trackByProperty; let odd = odd" [character]="character" [odd]="odd"></app-character-card>
        </div>
        <button mat-flat-button color="primary" *ngIf="canLoadMore$ | async" (click)="loadNextPage()">Load More</button>
    </section>
</div>
