@import 'breakpoints';

.character-search-wrapper {
    padding: var(--gap);
    display: grid;
    grid-gap: var(--gap);

    .info-section {
        font-size: 1.2rem;
    }

    .cards-section {
        display: flex;
        flex-direction: column;

        .character-cards-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: var(--gap);
        
            @media (min-width: $mobile-break-point) {
                grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            }

            app-character-card {
                transition: transform .2s ease;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 3px 6px rgba(0, 0, 0, .08), 0 3px 6px rgba(0, 0, 0, .115);
                    transform: scale(1.02);
                }
            }
        }

        button {
            margin-top: var(--gap);
        }
    }
}
