.characters-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sort {
  border: 1px solid black;
  max-width: 20vw;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 2px;
  border-radius: 2px;
}

.list-container {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.load-more {
  width: 100%;
  margin-top: 10px;
}

.loader {
  width: 30px;
  height: 30px;
  display: inline-block;
}
