<div class="characters-list">
  <mat-select class="sort" [(ngModel)]="sortOption">
    <mat-option value="1">A - Z</mat-option>
    <mat-option value="2">Z - A</mat-option>
    <mat-option value="3">Male</mat-option>
    <mat-option value="4">Female</mat-option>
  </mat-select>
  Number of characters: {{ numberOfCharacters }}
  <div class="list-container">
    <sw-character 
      *ngFor="let character of charactersToShow; index as i" 
      [character]="character" 
      [characterIndex]="i"
    ></sw-character>

  </div>
  <button mat-button color="primary" (click)=loadMore()>Load more...</button>
</div>
