.characters-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sort {
  border: 1px solid black;
  max-width: 20vw;
}

.list-container {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}