<div class="characters-list">
  <div>Showing {{ charactersToShow.length }} results of {{ numberOfCharacters }}</div>
  <mat-select class="sort" [(ngModel)]="sortOption" placeholder="Sort by">
    <mat-option value="1">A - Z</mat-option>
    <mat-option value="2">Z - A</mat-option>
    <mat-option value="3">Male</mat-option>
    <mat-option value="4">Female</mat-option>
  </mat-select>
  <div class="list-container">
    <sw-character 
      *ngFor="let character of charactersToShow; index as i" 
      [character]="character" 
      [characterIndex]="i"
    ></sw-character>

  </div>
  <button mat-raised-button color="primary" class="load-more" (click)=loadMore()>Load more...</button>
</div>
