:host {
  .spinner-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    max-width: 1310px;
    margin: auto;
    margin-top: 25px;

    &__item {
      width: 25%;
      @media (max-width: 1200px) {
        width: 33.3%;
      }
      @media (max-width: 992px) {
        width: 50%;
        column-gap: 15px;
      }
      @media (max-width: 576px) {
        width: 100%;
      }
    }
  }
}
