<div class="list">
  <ng-container *ngFor="let character of characters$ | async ">
    <div class="list__item">
      <sw-character-card [character]="character"></sw-character-card>
    </div>
  </ng-container>
</div>
<button *ngIf="(characterListIsLoaded$ | async) && (nextPage$ | async)" class="pagination-btn" mat-raised-button color="primary" type="button"
        (click)="onLoadMore()">Load more
</button>


<ng-container *ngIf="!(characterListIsLoaded$ | async)">
  <div
    [class.listingIsEmpty]="(characters$ | async).length === 0"
    class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>


<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

