:host {
  .search-bar {
    text-align: center;
    display: block;
  }

  .full-width {
    width: 50vh;
  }

  .search-submit{
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    margin-left: 14px;
    top: -3px;
  }
}
