<form class="search-bar" (ngSubmit)="submitSearch()" novalidate autocomplete="off">
  <mat-form-field class="full-width">
    <mat-label>Search Character</mat-label>
    <input matInput [formControl]="searchForm.get('searchTerm')" placeholder="Search Character">
    <mat-error *ngIf="searchForm.get('searchTerm').invalid">
      Please fill in the input in order to search for a character.
    </mat-error>
  </mat-form-field>

  <button class="search-submit" type="submit" mat-raised-button>Submit</button>
</form>
