

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    .search-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}