@import 'breakpoints'; 
@import 'variables';

html, body {
    height: 100%;
}

html {
    --gap: 14px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    color: $color-text-main;
    background-color: $color-bg;

    @media (min-width: $mobile-break-point) {
        --gap: 16px;
        font-size: 16px;
    }

    @media (min-width: $tablet-break-point) {
        --gap: 20px;
    }

    body {
        margin: 0;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
}

////////// Material Overrides //////////

.character-info-dialog mat-dialog-container.mat-dialog-container {
    padding: 0;
}

.mat-tab-body-wrapper {
    flex: 1;
    background: $color-bg;
}
